@media only screen and (max-width: 768px) {
    table {
        width: 100%;
    }

    table thead th {
        padding: 15px;
        font-size: 12px;
    }

    table tbody td {
        padding: 8px;
        font-size: 12px;
    }

    table tbody a {
        padding: 8px;
        font-size: 10px;
    }

    
}

@media only screen and (max-width: 450px) {
    table thead th {
        padding: 8px;
        font-size: 7px;
    }

    table tbody td {
        padding: 5px;
        font-size: 7px;
    }

    table tbody a {
        padding: 5px;
        font-size: 7px;
    }

    .btn-kelola button {
        font-size: 10px;
        padding: 8px;
    }

}

@media only screen and (max-width: 768px) {
    p {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 450px) {
    p {
        font-size: 1.5rem;
    }
}