:root {
    --blue:#012039;
    --primary-color: #cadbfd;
    --secondary--color: #fff;
    --text-color: #121212;
}

.dark-theme {
    --blue:#f8fafc;
    --primary-color: #314264;
    --secondary--color: #fcfdfe;
    --text-color: #01193a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    margin: 2rem 0;
    background-color: var(--secondary--color);
    margin-bottom: 30px;
}

.heading span {
    color: var(--text-color);

}

.btn {
    display: inline-block;
    margin-top: 2rem;
    border-radius: 5rem;
    background: var(--secondary--color);
    color: var(--blue);
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn-a {
    display: inline-block;
    margin-top: 2rem;
    border-radius: 5rem;
    background: var(--secondary--color);
    color: var(--blue);
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn-a:hover {
    background: rgb(224, 238, 255);
    color: var(--blue);
}

.btn:hover {
    background: rgb(224, 238, 255);
    color: var(--blue);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--secondary--color);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 3rem;
    color: #044478;
    font-weight: bolder;
}

header .logo span {
    color: #044478;
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #3e3c46;
}

header .navbar a:hover {
    color: #044478;
}

header .mode img {
    width: 40px;
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #0c0172;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .2rem solid #060606;
    display: none;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: var(--primary-color);
    background-size: cover;
    background-position: center;
}

.home .contents {
    max-width: 50rem;
}

.home .contents a{
    color: var(--text-color);
}

.home .contents h3 {
    font-size: 5rem;
    color: var(--blue);
}

.home .contents span {
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 1rem 0;
    line-height: 1.5;
}

.header-img {
    max-width: 100%;
    height: auto;
    margin-left: 40px;
}

.about {
    background: var(--primary-color);
}

.aboutUs {
    display: flex;
    align-items: center;
}

.image {
    flex: 1;
    padding: 10px;
    min-width: 100px;
}

.image img {
    width: 120%;
    min-width: 115px; 
    min-height: auto; 
}


.description-box {
    flex: 2;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto; 
    margin-left: 40px;
}

.description {
    padding: 10px;
}

.title {
    font-weight: bold;
    color: var(--blue);
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
    margin-top: 10px;
    margin: 2rem 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
}

.item {
    width: calc(30% - 40px);
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
    .item {
        width: calc(50% - 20px);
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .item {
        width: calc(33.33% - 26.66px);
    }
}

@media screen and (min-width: 901px) {
    .item {
        width: calc(30% - 40px);
    }
}


.item:hover {
    transform: scale(1.05);
}


img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 1px 0;
    color: var(--text-color);
    font-size: 1.5rem;
}

/* css layanan*/
.layanan {
    padding: 5rem;
    background-color: var(--primary-color);
}

.box {
    width: calc(30% - 40px);
    margin: 10px;
    background-color: #7a9ef9;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}


.box p {
    display: inline-block;
    background-color: rgb(203, 242, 255);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.box:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 600px) {
    .box {
        width: calc(50% - 20px);
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .box {
        width: calc(33.33% - 26.66px);
    }
}

@media screen and (min-width: 901px) {
    .box {
        width: calc(30% - 40px);
    }
}

/* css footer */

.footer {
    background: var(--secondary--color);
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box-footer {
    flex: 1 1 25rem;
}

.footer .box-container .box-footer h3 {
    color: var(--text-color);
    font-size: 2rem;
    padding: 1rem 0;
}

.footer .box-container .box-footer a {
    display: block;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box-footer a:hover {
    color: #044478;

}

.footer .credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 1.5rem;
    color: var(--text-color);
    border-top: 0.2rem solid var(--text-color);
}

/* media queries */
@media (max-width:991px) {
    img {
        max-width: 100%;
        height: auto;
    }

    html {
        font-size: 55%;
    }

    header {
        padding: 2 rem;
    }

}

@media (max-width:768px) {
    img {
        max-width: 100%;
        height: auto;
    }

    header .fa-bars {
        display: block;
    }


    header .navbar {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: var(--secondary--color);
        border-top: .1rem solid var(--primary-color);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: var(--secondary--color);
        border: .1rem solid var(--text-color);
        display: block;
    }

    header .logo{
        top : 30%;
        left: 30%;
    }
    
}   

@media (max-width:450px) {
    img {
        max-width: 70%;
        height: auto;
    }

    html {
        font-size: 30%;
    }
    .heading {
        font-size: 3rem;
    }

    .home .images img{

        width: 1000px;
    }
}

.segitiga-bergerak div {
    width: 100px;
    height: 100px;
    background-color: var(--secondary--color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}
.segitiga-bergerak div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: mymove 15s linear infinite;
}

.segitiga-bergerak div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: mymove 12s linear infinite;
}

.segitiga-bergerak div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: mymove 7s linear infinite;
}

.segitiga-bergerak div:nth-child(4) {
  top: 40%;
  left: 40%;
  animation: mymove 10s linear infinite;
}

.segitiga-bergerak div:nth-child(5) {
  top: 80%;
  left: 30%;
  animation: mymove 14s linear infinite;;
}

.segitiga-bergerak div:nth-child(6) {
  top: 50%;
  left: 70%;
  animation: mymove 8s linear infinite;
}

.segitiga-bergerak div:nth-child(7) {
  top: 10%;
  left: 80%;
  animation: mymove 11s linear infinite;;
}

.segitiga-bergerak div:nth-child(8) {
  top: 20%;
  left: 20%;
  animation: mymove 13s linear infinite;
}

.segitiga-bergerak div:nth-child(9) {
  top: 70%;
  left: 90%;
  animation: mymove 14s linear infinite;
}

.segitiga-bergerak div:nth-child(10) {
  top: 30%;
  left: 10%;
  animation: mymove 14s linear infinite;
}

.segitiga-bergerak div:nth-child(11) {
  top: 65%;
  left: 60%;
  animation: mymove 9s linear infinite;
}

.segitiga-bergerak div:nth-child(12) {
  top: 35%;
  left: 25%;
  animation: mymove 7s linear infinite;
}

.segitiga-bergerak div:nth-child(13) {
  top: 50%;
  left: 80%;
  animation: mymove 8s linear infinite;
}

.segitiga-bergerak div:nth-child(14) {
  top: 40%;
  left: 55%;
  animation: mymove 10s linear infinite;
}

.segitiga-bergerak div:nth-child(15) {
  top: 15%;
  left: 70%;
  animation: mymove 13s linear infinite;
}
.segitiga-bergerak div:nth-child(16) {
    top: 55%;
    left: 30%;
    animation: mymove 13s linear infinite;
  }

@keyframes mymove {
    0% {
      transform: scale(0) translateY(0) rotate(0);
      opacity: 1;
    }
    20% {
      transform: scale(1.2) translateY(-30px) rotate(72deg);
      opacity: 0.4;
    }
    40% {
      transform: scale(0.8) translateY(-60px) rotate(144deg);
      opacity: 0.2;
    }
    60% {
      transform: scale(1.2) translateY(-90px) rotate(216deg);
      opacity: 0.2;
    }
    80% {
      transform: scale(0.8) translateY(-120px) rotate(288deg);
      opacity: 0.2;
    }
    100% {
      transform: scale(1.5) translateY(-150px) rotate(360deg);
      opacity: 0;
    }
  }
